---
import Buttons from "../components/Buttons.astro";
import EmplyeesCard from "../components/EmplyeesCard.astro";
import Layout from "../layouts/Layout.astro";
import Popover from "../components/Popover.astro";

const employees = await fetch(
  "https://frontend-design-theme.netlify.app/api/employees"
).then((response) => response.json());

console.log("liste",employees);
---

<Layout>
    <div class="hero">
        <img src="../images/team_hero.jpg" alt="">
        <div class="popover">
            <Popover >
                <span slot="category">team</span>
                <h1 slot="title">
                    The Consultors
                    </h1>
                </Popover>
        </div>
    </div>
    <section>
        <article>
            <h2>Meet Our Great Team</h2>
            <div>
                <p>Welcome to our amazing team! We are a group of passionate individuals dedicated to excellence and innovation. Each member brings unique skills and experiences, working together to achieve our goals. Join us as we embark on exciting projects and create lasting impacts.</p>
                <Buttons variant="secondary" size="medium">Join our team</Buttons>
            </div>
        </article>
    </section>
    <ul>
        {
            employees.map((elm)=>(
                <EmplyeesCard img={elm.img} name={elm.name} title={elm.title} description = {elm.description} icons={elm.icon} link={elm.slug}/>
            ))
        }
    </ul>
</Layout>

<style>
.hero {
    img{
        height:100%;
        border-radius: 0;
    }

    .popover{
        position:absolute;
        top:15rem;
        left:5rem;
        @media (width<1100px){
            top:10rem;
        }
        @media (width<850px){
            display:none;
        }
    }
}

   section{
        padding-inline: var(--content-width);
        padding-top:var(--content-height);
        padding-bottom:var(--content-height);

        article{
            display:flex;
            flex-direction: column;
            align-items: flex-start;
            gap:8px;
            
            div{
             display: flex;
            align-items: flex-end;
            gap:20px;
            align-self: stretch;
            @media (width<850px){
          flex-direction: column;
          align-items: flex-start;
        }

            p{
            max-width:65ch;
            margin-right:auto;
            }
        }
    }
}

    ul{
        gap:30px;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-inline: var(--content-width);

        @media (width<800px){
            gap:10px;
       grid-template-columns: 1fr 1fr;
    }

        }
</style>