---
//@ts-nocheck
import Titles from "./Titles.astro";
const {name, title, description, link, img, social_links} = Astro.props;

---
    <a href={"/employees/"+link}>
    <li>
        <img src={img} alt="">
    </li>
    <li>
        <Titles class="secondary">{title}</Titles>
    </li>
    <li>
        <h2>{name}</h2>
    </li>
    <li>
        <p>
            {description}
        </p>
    </li>
    <!-- <ul>
        {
            social_links.map((link) => (
                <li>
            <p set:html={link.icon} />
          </li>
        ))
    }
    </ul> -->
</a>

<style>
        li{
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:25px;
        &:nth-child(2){
            display: flex;
            align-items: flex-end;
            margin-right:1.2rem;
            position: relative;
            top:-3rem;
        }
        &:last-child{
            padding-bottom: 3rem;
        }
        p{
            font-weight: 400;
        }
    }

</style>