---
const {name, title, description_long, img, icon, past_description} = Astro.props;
---

<section>
    <figure>
        <img src={img} alt="">
    </figure>
    <article>
        <h2>{name}</h2>
        <h4>{title}</h4>
        <p>{description_long}</p>
    </article>
    <hr>
    <article>
        <h2>Past Expereince</h2>
        <p>{past_description}</p>
    </article>
</section>